.App {
  font-family: sans-serif;
}
body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

a {
  display: inline-block;
  padding: 0 2rem;
  margin: 0;
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.55);
}
a:hover {
  color: yellow;
}

h2 {
  color: darkslategrey;
}
