* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
}
body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
}
h3 {
  text-align: center;
}

a {
  display: inline-block;
  padding: 0 2rem;
  margin: 0;
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.55);
}
a:hover {
  color: yellow;
}

h2 {
  color: darkslategrey;
}
